# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
venv/
env/
ENV/

# Flask
instance/
.webassets-cache

# Banco de Dados
*.db
*.sqlite
*.sqlite3

# Ambiente
.env
.venv

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# OS
.DS_Store
Thumbs.db
